html,
body {
    height: 100%;
    margin: 0;
}


/* * {
    box-sizing: border-box;
    
} */

a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 620px) {
    /* for mobile phones */
    
}

body {
    background: #f3f3f3;
}

.grid {
    display: grid;
    place-content: center;
    height: 600px;
    margin: 0 auto;
}

.avatar {
    /* background: white; */
    width: 9vw;
    /* border-radius: 100%; */
}

.login-box {
    width: 28vw;
    height: 30vw;
    background: #f3f3f3;
    padding: 1vw 2vw;
    text-align: center;
    color: rgb(0, 0, 0); 
    border: grey 2px solid;
    border-top: #500101 3px solid;
    border-radius: 5px;
}

.login-box input[type=text] {
    height: 3vw;
    width: 27vw;
    padding: 1px 4px;
    /* background-color: #0808080e; */
}

.reg-box {
    width: 35vw;
    height: 42vw;
    background: #f3f3f3;
    padding: 1vw 2vw;
    margin-top: 29vh;
    text-align: left;
    color: rgb(0, 0, 0); 
    border: grey 2px solid;
    border-top: #500101 4px solid;
    border-left: #500101 1px solid;
    border-right: #500101 1px solid;
    border-bottom: #500101 1px solid;
    border-radius: 5px;
    font-size: 20px;
}

.reg-box input{
    height: 0.5vw;
    width: 33vw;
    padding: 1vw;
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkboxx {
    float: left;
    clear: none;
    padding-top: 5px;
    cursor: pointer;
}

.checkboxx:hover {
    color: #500101;
}

.right { 
    float: right;
    padding-top: 6px;
    cursor: pointer;
}

.right:hover {
    color: #500101;
}

.button-login {
    border: none;
    width: 24vw;
    height: 3vw;
    border-radius: 7px;
    background-color: #500101;
    color: white;
    cursor: pointer;
}

.button-login:hover {
    background-color: #510101e6;    
}

.home-wrap {
    /* width: 960px; */
    width: 71vw;
    margin: 0 auto;
    background: #dddddd;
    margin-top: 60px;
    color: rgb(0, 0, 0);
    padding: 9px;
    padding-bottom: 0;
    text-align: center;
}

.home-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    padding: 60px;
    gap: 50px;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    padding-left: 175px;
}

.home-box a button {
    height: 50px;
    width: 17vw;
    cursor: pointer;
    background: #500101;
    color: wheat;
    border: none;
    border-radius: 10px;
}

.home-box button:hover {
    background-color: #510101e6;
    /* background-color: rgba(194, 186, 186, 0.685); */
            color:#131212;
            border: 1px solid white;
}

.logout {
    margin: 10px;
    width: 200px;
    height: 30px;
    background-color: #010150;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.logout:hover {
    background-color: #010150e6;
}

.header {
    width: 100%;
    height: 5vw;
    background: #010150;
    margin: 0;
}

.table-box {
    padding: 20px 0px;
    /* background: rgba(0, 0, 0, 0.2); */
    height: 100%;
    text-align: center;
    border-top: #500101 3px solid;
}

.table-box table {
    padding: 0 70px 0 40px;
}

.table-box td {
    border-top: solid 1px  black ;
    /* border-bottom: solid 1px black ; */
    padding: 1vw 0vw 1vw 0vw;
    text-align: left;
}

.profile {
    float: right;
    margin: 3.4vw 3.1vw 0 0;
    background: rgba(0, 0, 0, 0.2);
    height: 10vw;
    width: 15vw;
    padding-bottom: 4vw;
    border: grey 2px solid;
    border-top: #500101 3px solid;
    
}

.profile img {
    width: 12vw;
}

.profile button {
    margin: 10px;
    width: 120px;
    height: 34px;
    background-color: #010150;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;  
    padding: 3px;    
}

.profile button:hover {
    background-color: #010150e6;
}